/* Follow template to other pages 
   Retains style for header and footer */

   * {
    margin: 0;
    padding: 0;
    /*
    Black color: #1B1B1B
    White color: #FEFEFA
    */
}

html {
    font-size: 62.5%;
    background-color: #FEFEFA;
}

.display-alert {
    display: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    background-color: #1B1B1B;
    color: #FEFEFA;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-logo img {
    width: 50px;
    height: 50px;
    padding: 0px 0px 0px 20px;
    filter: invert();
    cursor: pointer;
}

.header-title {
    font-family: "Zen Dots", sans-serif;
    font-size: 1.5rem;
    padding: 0px 0px 0px 15px;
    cursor: pointer;
}

nav {
    position: absolute;
    right: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.75rem;
    color: #FEFEFA;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
}

nav ul a {
    text-decoration: none;
    color: #FEFEFA;
    padding: 0px 20px;
}

nav ul a.nav-active {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    text-decoration: none;
    color: #FEFEFA;
    padding: 0px 20px;
}

nav ul a:hover {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
}

.hamburger-menu {
    display: none;
    color: #FEFEFA;
    padding: 0px 15px;
}

.about-title,
.dev-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position-y: center;
    color: #FEFEFA;
    
    h1 {
        font-family: "Zen Dots", sans-serif;
        font-weight: 500;
        text-align: center;
        padding: 150px 0;
        text-shadow: 0 4px 8px #1B1B1B;
    }
}

.about-title {
    background-image: url(/resources/images/space01.jpg);

    h1 {
        font-size: 8rem;
    }
}

.dev-title {
    background-image: url(/resources/images/earth02.jpg);

    h1 {
        font-size: 7.5rem;
    }
}

.about-desc {
    font-family: "Space Grotesk", sans-serif;
    text-align: justify;

    h2, p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 120px;
        padding: 30px 0;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }
}

.objective-1,
.objective-2,
.objective-3 {
    background-color: #1B1B1B;
    color: #FEFEFA;
    font-family: "Space Grotesk", sans-serif;
    font-size: 2rem;
    text-align: justify;

    h2, p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 120px;
        padding: 30px 0;
    }

    h2 {
        font-size: 3rem;
    }

    hr {
        margin: 0 50px;
    }
}

video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 640px;
    object-fit: cover;
    pointer-events: none;
}

.objective-3 video {
    object-position: bottom;
}

.objective-main-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px auto;
    width: 70%;
    height: auto;
    pointer-events: all;
    box-shadow: 0 8px 16px #1b1b1bd5;
}

.dev-desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #1B1B1B;
    font-family: "Space Grotesk", sans-serif;
    text-align: justify;
    padding: 30px 0;
}

.dev-desc aside {
    float: left;
    width: 40%;
}

.dev-desc section {
    float: right;
    width: 60%
}

.dev-desc aside img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.dev-desc section p {
    text-align: justify;
    font-size: 2rem;
    margin: 0px 50px;
}

.credits {
    display: block;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.15rem;

    p, a {
        padding: 0 0 15px 0;
        color: #1B1B1B;
    }
}

footer {
    background-color: #1B1B1B;
    color: #FEFEFA;
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    
    #timeDate {
        padding: 15px 0 5px;
    }

    p {
        padding: 0 10px;
        font-size: 1.3rem;
    }
}

.social-media a {
    padding: 15px 0;
    width: 70px;
    font-size: 1.75rem;
    color: #FEFEFA;
    text-decoration: none;
}

.social-media a:hover {
    color: #FEFEFABA;
    transition: 0.2s;
}

#back-to-top {
    position: fixed;
    width: 40px;
    height: auto;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
}

@media (max-width: 259px) {
    .display-alert {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color:  #FADA5E;

        h1 {
            font-family: "Space Grotesk", sans-serif;
            font-weight: 300;
        }
    }
}

@media (max-width: 360px) {
    html {
        font-size: 52.5%;
    }

    .header-logo img {
        width: 40px;
        height: 40px;
        padding: 0px 0px 0px 10px;
        filter: invert();
        cursor: pointer;
    }
    
    .header-title {
        font-family: "Zen Dots", sans-serif;
        font-size: 1.5rem;
        padding: 0px 0px 0px 15px;
        cursor: pointer;
    }

    .hamburger-menu {
        position: relative;
        top: -10px;
        display: flex;
        color: #FEFEFA;
        padding: 0px 10px;
        font-size: 1rem;
    }

    .dev-desc aside img {
        width: 100%;
        height: 240px;
        object-fit: contain;
    }
}

@media (max-width: 700px) {
    nav ul a {
        display: none;
    }

    .hamburger-menu {
        position: relative;
        top: -10px;
        display: inline-block;
        color: #FEFEFA;
        padding: 0px 0px 0px 0px;
        font-size: 2rem;
        cursor: pointer;
    }

    .sidebar-nav {
        display: none;
        position: absolute;
        z-index: 1;
        right: 0;
        background-color: #FEFEFA;
        min-width: 160px;
        box-shadow: 0 8px 16px #1B1B1B35;
        text-align: right;
    }

    .sidebar-nav a {
        display: block;
        font-size: 1.75rem;
        color: #1B1B1B;
        padding: 12px 16px;
        text-decoration: none;
    }

    .sidebar-nav a:hover {
        background-color: #DFDFDC;
    }

    .hamburger-menu:hover .sidebar-nav {
        display: block;
    }

    .about-title h1 {
        font-size: 4rem;
        padding: 90px 20px;
    }

    .dev-title h1 {
        font-size: 3.5rem;
        padding: 90px 20px;
    }

    .about-desc h2, .about-desc p {
        margin: 0 60px;
    }
    
    .objective-1 h2, .objective-1 p,
    .objective-2 h2, .objective-2 p,
    .objective-3 h2, .objective-3 p {
        margin: 0 60px;
    }
    
    video {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 320px;
        object-fit: cover;
        pointer-events: none;
    }

    .social-media a {
        width: 50px;
    }
}

@media (max-width: 900px) {
    .dev-desc aside,
    .dev-desc section {
        float: none;
        width: 100%;
        padding: 20px 0;
    }
}

@media (min-width: 2500px) {
    /* Responsive style here */
}